.title {
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 32px;
}

.title2 {
  background-color: red;
  color: white;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 32px;
}
